@using Vivastreet_Models
@model Vivastreet_Models.ViewModel.AdvertisementViewModel

@{
    var title = "Create Advert";
}


<form method="post" enctype="multipart/form-data">

    @if(Model.Advertisement.Id != 0)
    {
        title = "Edit Advert";
        <input asp-for="Advertisement.Id" hidden/>
    }

    <div class=" border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>      
        </div>

        <div class="row">
            <div class="col-8 border p-3">
                 <h4 class="radioclass"> Post Your Free Add Here</h4>

            <div class="form-group row  pt-3">
                <div class="col-4">
                    <label asp-for="Advertisement.Category"></label>
                </div>
                <div class="col-8"> 
                    <select asp-for="Advertisement.CategoryId" asp-items="@Model.CategorySelectListItems" class="form-control">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="Advertisement.CategoryId" class="text-danger"></span>
                </div>

            </div>

            <div class="radioclass ">
                <div class="form-check pt-2">
                    @Html.RadioButtonFor(m => m.Advertisement.AdvertisementType,"PremierBanner")
                  <label>Premier Banner</label>
                </div>

                 <div class="form-check pt-2">
                    @Html.RadioButtonFor(m => m.Advertisement.AdvertisementType,"AdvertOfTheWeek")
                  <label>Advert Of TheWeek</label>
                </div>

                 <div class="form-check pt-2">
                    @Html.RadioButtonFor(m => m.Advertisement.AdvertisementType,"ClassicAdvert")
                  <label>Classic Advert</label>
                </div>

            </div>
        
            <div class="form-group row  pt-3">
                <div class="col-4">
                    <label asp-for="Advertisement.PostCode"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Advertisement.PostCode" class="form-control"/>
                    <span asp-validation-for="Advertisement.PostCode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row pt-3">
                <div class="col-4">
                    <label asp-for="Advertisement.Title"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Advertisement.Title" class="form-control"/>
                    <span asp-validation-for="Advertisement.Title" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group row  pt-3">
                <div class="col-4">
                    <label asp-for="Advertisement.Description"></label>
                </div>
                <div class="col-8">  
                    <textarea asp-for="Advertisement.Description" class="form-control summernote"></textarea>
                    <span asp-validation-for="Advertisement.Description" class="text-danger"></span>
                </div>
            </div>
        
            <div class="form-group row  pt-3">
                <div class="col-4">
                    <label asp-for="Advertisement.Material"></label>
                </div>
                <div class="col-8">  
                    <select asp-for="Advertisement.MaterialId" asp-items="@Model.MaterialSelectListItems" class="form-control">
                        <option disabled selected>--Select Material--</option>
                    </select>
                    <span asp-validation-for="Advertisement.MaterialId" class="text-danger"></span>
                </div>
            </div>

             <div class="form-group row  pt-3">
                <div class="col-4">
                    <label asp-for="Advertisement.SelectAge"></label>
                </div>
                <div class="col-8">  
                    <select asp-for="Advertisement.SelectAgeId" asp-items="@Model.AgeSelectListItem" class="form-control">
                        <option disabled selected>--Select Age--</option>
                    </select>
                    <span asp-validation-for="Advertisement.SelectAgeId" class="text-danger"></span>
                </div>

            </div>

             <div class="form-group row  pt-3">
                <div class="col-4">
                    <label asp-for="Advertisement.Condition"></label>
                </div>
                <div class="col-8">  
                    <select asp-for="Advertisement.ConditionId" asp-items="@Model.ConditionSelectListItems" class="form-control">
                        <option disabled selected>--Select A Condition--</option>
                    </select>
                    <span asp-validation-for="Advertisement.ConditionId" class="text-danger"></span>
                </div>

            </div>

                <label>Language</label>
            <div class="new-checkbox ">
                 <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.English" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.English"></label>
                </div>

                 <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.Spanish" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.Spanish"></label>
                </div>

                <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.French" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.French"></label>
                </div>
            </div>

            <div class="new-checkbox ">
                <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.Italian" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.Italian"></label>
                </div>

                <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.German" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.German"></label>
                </div>

                <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.Portugese" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.Portugese"></label>
                </div>
            </div>

            <div class="new-checkbox ">
                <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.Russian" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.Russian"></label>
                </div>

                <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.Chinese" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.Chinese"></label>
                </div>

                <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.Other" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.Other"></label>
                </div>
            </div>

            <label>Services Offered</label>
        

            <div class="new-checkbox ">
                <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.IsDeliveryService" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.IsDeliveryService"></label>
                </div>

                <div class="form-check form-check-inline">
                  
                </div>

                <div class="form-abc row  pt-3 flex-right">
                    <div class="col-2">
                        <label asp-for="Advertisement.DeliveryServiceFee"></label>
                    </div>
                    <div class="col-4">  
                        <input asp-for="Advertisement.DeliveryServiceFee" class="form-control" type="form-control" id="inlineCheckbox3"   />
                    </div>
                </div>

                
            </div>

            <div class="new-checkbox ">
                <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.IsPickUpService" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.IsPickUpService"></label>
                </div>

                <div class="form-check form-check-inline">
                 
                </div>

                <div class="form-abc row  pt-3 flex-right">
                    <div class="col-2">
                        <label asp-for="Advertisement.DeliveryServiceFee"></label>
                    </div>
                    <div class="col-4">  
                        <input asp-for="Advertisement.DeliveryServiceFee" class="form-control" type="form-control" id="inlineCheckbox3"   />
                    </div>
                </div>
            </div>

            <div class="new-checkbox ">
                <div class="form-check form-check-inline">
                  <input asp-for="Advertisement.IsInstallationService" class="form-check-input" type="checkbox" id="inlineCheckbox3"   />
                  <label asp-for="Advertisement.IsInstallationService"></label>
                </div>

                <div class="form-check form-check-inline">
                  
                </div>

                <div class="form-abc row  pt-3 flex-right">
                    <div class="col-2">
                        <label asp-for="Advertisement.DeliveryServiceFee"></label>
                    </div>
                    <div class="col-4">  
                        <input asp-for="Advertisement.DeliveryServiceFee" class="form-control" type="form-control" id="inlineCheckbox3"   />
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <label class="col-form-label">Select Multiple Files</label>
                    <input asp-for="Files" class="form-control" multiple/>
                    <span asp-validation-for="Files" class="text-danger"></span>
                </div>
            </div>


            <br/>
            <br/>
            <br/>

            <hr/>
            <h3>
                Your personal Information
            </h3>

            <div class="form-group row pt-3">
                <div class="col-4">
                    <label asp-for="Advertisement.PhoneNumber"></label>
                </div>
                <div class="col-4">
                <input asp-for="Advertisement.PhoneNumber" type="tel" id="number" class="form-control">

                </div>

            </div>


             <div class="new-checkbox">
                <input asp-for="Advertisement.ShowPhoneNumber" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label asp-for="Advertisement.ShowPhoneNumber"></label>
            </div>

            <div class="form-group row pt-3">
                <div class="col-4">
                    <label asp-for="Advertisement.EmailAddress"></label>
                </div>

                <div class="col-8">
                    <input asp-for="Advertisement.EmailAddress" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"/>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <span asp-validation-for="Advertisement.EmailAddress" class="text-danger"></span>
                </div>
               
            </div>
           
            <div class="form-group row pt-3">
                <div class="col-8 offset-4 row">
                    @if(Model.Advertisement.Id != 0)
                    {
                        //update
                        <div class="col">
                            <input type="submit" class="btn btn-primary w-100" value="Updat "/>
                        </div>
                    }
                    else
                    {
                        //Create
                        <div class="col">
                            <input type="submit" onclick="return validateInput()" class="btn btn-info w-100" value="Create "/>
                        </div>
                    }
                            <div class="col">
                        <a asp-action="Index" class="btn btn-success w-100"Back>
                            <i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            @* Keep this empty *@
            <div class="row">

            </div>
            @if (Model.Advertisement.Id != 0)
                {
                    <img src="@Vivastreet_Utility.WC.ImagePath@Model.Advertisement.Image" width="100%" style="border-radius:5px; border:1px solid #bbb"/>
                    @foreach(var item in Model.Advertisement.Images)
                    {
                       <img src="@Vivastreet_Utility.WC.ImagePath@item.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb"/> 
                    }
                }

        </div>
     </div>
    </div>

    
</form>
@section Scripts{

  @{<partial name="_ValidationScriptsPartial"/>}

    <script>

//        $('.summernote').summernote({
//    height: 250,
//    callbacks: {
//        onChange: function (contents) {
//            if ($('.summernote').summernote('isEmpty')) {
//                $(".add .panel-body").html('');
//            } else {
//                $(".add .panel-body").val(contents);
//            }
//             $('.summernote_add').val(
//                 $('.summernote_add').summernote('isEmpty')
//                     ? null
//                     : contents
//             );
//            summernoteValidatorAdd.element($('.summernote'));
//        }
//    }
//});


        //$("#inlineCheckbox3").change(function(){

        //  if (! $('input:checkbox').is('checked')) {
        //      $('input:checkbox').prop('checked',true);
        //  } else {
        //      $('input:checkbox').prop('checked', false);
        //  }       
        //});


        $(document).ready(function() {
            $('.summernote').summernote({
                height:200
            });
            });

            


        
    }
});


        function validateInput() {
            if (document.getElementById('uploadBox').value == "") {
                 Swal.fire(
                  'Error!',
                  'Please upload an Image!',
                  'error'
                )
                return false;
            }
            return true;
            }

    </script>
}
